
[submodule "dependencies/cecil"]
	path = Dependencies/Cecil
	url = https://github.com/jbevain/cecil.git

[submodule "dependencies/seepssefeu"]
	path = Dependencies/seepssefeu
	url = https://github.com/just-harry/seepssefeu
